@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina não encontrada - Road Project</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Staging,Production,Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/all.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>

</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1><i class="fa fa-robot"></i></h1>
        <h3 class="font-bold">Ocorreu um erro!</h3>
        <div class="error-desc">
            Desculpe, ocorreu um erro no servidor do sistema, tente novamente mais tarde ou entre em contato com o administrador do sistema.
        </div>
    </div>
</body>
</html>
